<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace : 영역을 부르는 별칭
	parameterType : 이 명령을 실행하기 위해 필요한 데이터의 형태
	태그때문에 못쓰게 되는 기호들은 다음 영역 해결 가능
	resultTyep : expected result(dto form)
	
	 부등호 쓰기 위해선 필요함 <![CDATA[
	 Sql 영역
	 ]]> 
	 
	 
	 #= 형태 추론 자동으로 '' 설정 및 인코딩 처리 수행
	 $=값 있는 그대로 출력
	 	$ SQL Injection 이라는 해킹 공격 매우 취약함 사용 주의
 -->
<mapper namespace="memo">

	<insert id="insert" parameterType="memoDto">

	<![CDATA[
		insert into memo values(memo_seq.nextval, #{content}, sysdate)
		]]>
	</insert>
	
	<select id= "getList" resultType="memoDto">
		select * from memo order by no desc
	</select>
	
	<select id = "search" resultType="memoDto" parameterType="map">
		select * from memo
		<if test="type != null and keyword != null">
		 where ${type} like'%'||#{keyword}||'%'
		 </if>
		order by no desc
	</select>

</mapper>